@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

html,body{
    margin:0px;
    padding:0px;
    background-color: #fdf4ee; 
     
}

#icon{
width:60px;
}

.header-container{
    background:pink;
    height:70px;
}

h1{
    color: rgb(83, 79, 79);
    font-family: 'Pinyon Script', cursive;
    font-size:60px;
    position:fixed; 
    left:0;
    margin-top:0px;
    margin-left: 18px;
    
   
   
}

nav{
    display:flex;
    flex-direction:row;
}
nav li:hover{
	cursor: pointer;
}

#homeImg{
    margin-top:40px;
    width:80%;
    height:550px;
    margin-left:90px;
}

nav ul{
	list-style: none;
    display: flex;
    flex-direction:row;
    color:white;
    font-family: 'Zen Dots', cursive;
    font-size: 20px;   
}

nav li{
    margin:5px;
}

nav{
    display:flex;
    justify-content: flex-end;
    margin-right:20px;
    
}



h3{
    color:rgb(155, 1, 1);
    font-family: 'Zen Dots', cursive;
 
    /*margin-top:-37px;*/
    font-size:18px;
    margin-left:120px;
    

}

#redvelvet{
    height: 240px;
    width: 380px;
    margin-left:120px;
  
 

}

h4{
    color:rgb(155, 1, 1);
    font-family: 'Zen Dots', cursive;
    /*margin-left:651px;*/
   
    
    /*margin-right:40px;*/
   
    font-size:18px;
    margin-top:20px;
  

}

h5{
    color:rgb(155, 1, 1);
    font-family: 'Zen Dots', cursive;
    font-size:18px;
    margin-left:120px;
    margin-top:8px;
}

h6{
    color:rgb(155, 1, 1);
    font-family: 'Zen Dots', cursive;
    font-size:18px;
    margin-top:7px;
    
   
    
}

#lemonrasp{
    height: 240px;
    width: 380px;
    margin-top:-9px; 
 
}
 
#oreo{
    height: 240px;
    width: 380px;  
    margin-left:120px;  
    margin-top:-7px; 
   
}

#smores{
    height: 240px;
    width: 380px;
    margin-top:-18px;
  
    
}
.menu-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
}


h2{
color:rgb(252, 169, 183);
font-size:60px;
margin-top:5px;
margin-bottom:1px;
font-size:55px;
display:flex;
justify-content:center;
font-family: 'Pinyon Script', cursive;
}


  
  